* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    font-size: 12px;
    overflow: hidden;
}

header {
    position: fixed;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 600px;
    gap: 100px;
    z-index: 2;

    & img {
        width: 290px;
    }

    & nav {
        & ul {
            display: grid;
            grid-template-columns: repeat(3, 200px);
        }
    }
}

section {
    background-image: radial-gradient(circle at top, #b529f6, #000 );
    height: 100vh;
    position: relative;

    & .list {
        width: 75vw;
        height: 100%;
        margin: auto;
        position: relative;

        & .item {
            position: absolute;
            inset: 0;

            & .maquiagem-img {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 77%;

                & img {
                    width: 100%;
                    transform: rotate(-30deg);
                }

                &::before {
                    content: '';
                    position: absolute;
                    background-color: #dbc6e0;
                    width: 130%;
                    height: 100px;
                    top: 430px;
                    left: 50px;
                    border: 50%;
                    filter: blur(50px);
                }
            }

            & .content {
                position: absolute;
                right: 100px;
                width: 30%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: end;
                gap: 20px;

                & .maquiagem-informação {
                    font-weight: bold;
                }

                & h2 {
                    font-size: 6em;
                    line-height: 1em;
                    font-family: "League Gothic", sans-serif;
                }

                & .description {
                    color: #fff;
                    font-size: 12px;
                    text-align: right;
                    max-width: 400px;
                }

                & .information {
                    border-radius: 35px;
                    height: 35px;
                    width: 120px;
                    text-transform: uppercase;
                    border: 2px solid #ffffff00;
                    background-color: rgb(243, 243, 246);
                    color: #000000;
                    cursor: pointer;
                    font-weight: bold;
                    font-family: "League Gothic", sans-serif;
                }
            }

        }

    }

    .arrows {
        width: 76vw;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -25%);
        display: flex;
        justify-content: space-between;

        & button:nth-child(1) {
            & img {
                transform: scale(-1);
            }
        }

        & button {
            top: 60%;
            width: 50px;
            height: 50px;
            border-radius: 80%;
            border: none;
            cursor: pointer;

            & img {
                width: 30px;
                margin-top: 4px;
                cursor: pointer;
            }

            &:hover {
                background-color: #6A0DAD;
            }
        }
    }

    .indicators {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        height: 200px;
        width: 90vw;
        display: flex;
        flex-direction: column;
        justify-content: end;
        gap: 15px;

        & .number {
            font-size: 5em;
            font-family: "League Gothic", sans-serif;
        }

        & ul {
            display: flex;
            gap: 10px;

            & li {
                width: 50px;
                height: 5px;
                background-color: rgb(3, 1, 1);
                border-radius: 5px;
                transition: 0.5s;
            }

            & .active {
                background-color: #fe079b;
            }
        }
    }
}

section {

    & .list {
    --calculation: 1;

        & .item {
            transform: translateX(calc(100vw * var(--calculation)));
            transition: 0.5s;
            opacity: 0;

            & .maquiagem-img {
                & img {
                    transform: rotate(0);
                    transition: 0.5s;
                    transition-delay: 0.3s;
                }
            }

            & .content {

                & .maquiagem-informação,
                h2,
                .description,
                .information {
                    transform: translateX(calc(200px * var(--calculation)) );
                    transition: 0.7s;
                    transition-delay: 0.3s;
                    opacity: 0;
                }

                & h2 {
                    transition-delay: 0.5s;
                }

                & .description {
                    transition-delay: 0.7s;
                }

                & .information {
                    transition-delay: 0.7s;
                }

            }
        }

        & .active {
            transform: translateX(0);
            transition: 0.5s;
            opacity: 1;

           
            & .content {

                & .maquiagem-informação,
                h2,
                .description,
                .information {
                    transform: translateX(0);
                    opacity: 1;
                }
            }
        }
    }
}
